.program-listing, .row:nth-child(2n+1) {
	background-color: #ddd;
}

.row:nth-child(2n) {
	background-color: silver;
}

.program-listing {
	padding: 1em;
	padding-right: 0;
}

.row {
	padding-left: 4em;
}

.tab {
	display: inline-block;
	width: 2em;
}

.keyword {
	color: blue;
	font-style: italic;
}
